# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignorar la carpeta de base de datos
/db/

# Ignorar archivos temporales de IntelliJ IDEA
.idea/

# Ignorar archivos de compilación
/out/
*.class

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar empaquetados
*.jar
*.war
*.ear
